<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<meta http-equiv="X-Frame-Options" content="ALLOW-FROM http://localhost:10086/" />
<meta http-equiv="Content-Security-Policy" content="frame-ancestors http://localhost:10086/" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
<title>Sale Cloud</title>
</head>

<body>

	<div>
		
		<div style="margin-bottom: 20px;">
			<span style="margin-left: 20px;" th:text="${message}"></span>
		</div>
        <div>
			<img src="http://n.sinaimg.cn/news/700/w1000h500/20180326/to-8-fysqfnf7410901.jpg" />
		</div>

	</div>

</body>
</html>
