<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../css/top.css" type="text/css" />

</head>

<body>
<form method="post" name="myForm" th:action="@{/manage-web/book/save}" th:object="${book}" enctype="multipart/form-data">

	<div id="main">
        
      <div class="sort_switch">
          <ul id="TabsNav">
          	  <li class="selected"><a href="#">添加图书</a></li>
          </ul>
      </div>
      
      <div id="tagContent0" class="sort_content">
        	  
        	<div class="currency_area hue9">

            	<div class="the_content" >
					
                	<table class="tableHue2" style="font-size: 12px;" width="100%" border="1" bordercolor="#dddddd" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="15%" class="title1">书名：</td>
                          <td class="left"><input name="name" type="text" class="input_text1" size="40"/></td>
                        </tr>
                        <tr>
                          <td width="15%" class="title1">作者：</td>
                          <td class="left"><input name="author" type="text" class="input_text1" size="40"/></td>
                        </tr>
                        <tr>
                          <td width="15%" class="title1">价格：</td>
                          <td class="left"><input name="price" type="text" class="input_text1" size="40"/></td>
                        </tr>
                        <tr>
                          <td width="15%" class="title1">图片：</td>
                          <td class="left">
							<input type="file" name="file" />
						  </td>
                        </tr>
                      </tbody>
                  </table>
				  
                </div>
            </div>
            
            <div class="fun_area" style="text-align:center;"><input type="submit" value="确 定" class="input_button1"/></div>
      </div>
</div>

</form>

</body>

</html>
