<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
<title>Sale Cloud</title>
</head>

<frameset rows="69,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame th:src="@{/manage-web/staticPage/top}" src="pages/top.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset rows="*" cols="195,*" framespacing="0" frameborder="no" border="0">
    <frame th:src="@{/manage-web/staticPage/nav}" src="pages/nav.html" name="navFrame" scrolling="Yes" noresize="noresize" id="navFrame" title="leftFrame" />
    <frame th:src="@{/manage-web/staticPage/welcome}" src="pages/welcome.html" name="mainFrame" id="mainFrame" title="mainFrame" />
  </frameset>
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>
