<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" th:href="@{/manage-web/css/style.css}" href="../css/style.css" type="text/css" />
<link rel="stylesheet" th:href="@{/manage-web/css/top.css}" href="../css/top.css" type="text/css" />
<link rel="stylesheet" th:href="@{/manage-web/css/nav.css}" href="../css/top.css" type="text/css" />
<title>Sale Cloud</title>
</head>
<body>
<div style="top:0px;height:120px" th:include="/top :: onload_header"></div>
<div style="left:0px;width:300px" th:include="/nav :: onload_nav"></div>
<div style="left:3100px;" th:include="/welcome :: onload_main"></div>
</body>
</html>
